body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.jumbotron {
  background-image: url("../img/river.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0; }

.jumbotron .darken-effect {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh; }

.jumbotron-button {
  background-color: #ff7043; }

.menu-button {
  margin: 2rem; }

.main-header {
  margin: 0;
  padding-top: 60vh;
  color: #fff; }

.content {
  height: 100vh; }

.triple {
  padding: 0px; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ff7043; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

nav {
  background: #ff7043; }

/* General sidebar styles */
.bm-menu {
  background-color: #373a47;
  font-size: 1.15em;
  text-align: center; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.content {
  height: 100vh; }

.content .row .content-title {
  padding: 10vh;
  color: #fff; }

.content.row.content-paragraph {
  color: #fff; }

footer.page-footer {
  background-color: #ff7043; }

footer li a {
  color: white; }
